# Dependency directories
node_modules/
venv/
env/
.env
.venv/
bin/
lib/
lib64/
include/
share/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Frontend build
dist/
build/
.next/

# AI Models
*.pt
*_openvino_model/
backend/models/

# Database
*.db
*.sqlite3
sqlite_db/
